* {
    box-sizing: border-box; /* to make sure there is no horizontal scroll bar*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

}

/* HEAD */
.head {
    display: flex;
    background: linear-gradient(180deg,lightblue,blue);
    width: 100%;
    padding: 20px 20px;
    justify-content: space-between;
}
.heading {
    font-size: 32px;
    font-family: 'Roboto',sans-serif;
    margin: 0 auto;
    font-weight: bold;
    color: azure;
}
.chef {
    width: 20%;
    height: 100%;
}
.spacer {
    width: 15%;
}

/*each box or option*/
.recipe-box {
  width: 280px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  
  box-shadow: 
    0 -2px 5px rgba(255, 255, 255, 0.4), 
    5px 5px 15px rgba(0, 0, 0, 0.4); 
  transition: all 0.3s ease; 
}
.recipe-box:hover {
  /* Makes the box appear slightly closer to the user */
  transform: translateY(-5px); 
  
  /* Makes the shadow bigger and deeper when lifted */
  box-shadow: 
    0 -5px 10px rgba(255, 255, 255, 0.4), 
    10px 10px 30px rgba(0, 0, 0, 0.6); 
    
  /* Change the cursor to indicate it's clickable */
  cursor: pointer;
}

/*main*/
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:80px 40px 80px 40px;
    gap: 30px;
    width: 100%;
}